@media (min-width: 1441px){
    .home-banner, .page-banner {
        height: 400px;
    }
}

@media (min-width: 1125px) and (max-width: 1440px){
    .home-banner, .page-banner {
        height: 325px;
    }
}

.home-banner, .page-banner {
    width: 100%;
    background-size: cover; /* Ensure the image covers the entire div */
    background-position-y: 40%;
    background-repeat: no-repeat; /* Prevent the image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Optional: Text color for content inside the banner */
    margin-bottom: 20px;
}

/* Optional: Style any content inside the banner */
.home-banner .banner-content {
    text-align: center;
    padding: 20px;
}

.banner-title{
    font-family: "Edo";
    font-size: 4em;
    font-weight: 100;
}

.home-banner .banner-title{
    margin-top: 0px;
}

.banner-subtitle{
    font-family: "Nunito Black";
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 0px;
}

.banner-description{
    font-family: "Nunito Black";
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 0px;
}

.banner-title, .banner-subtitle, .banner-description{
    text-shadow: 1px 1px 0 #000,1px 1px 5px #000;
}

.banner-text {
    position: relative; /* Ensure text is positioned relative to its container */
    z-index: 1; /* Ensure text appears above the gradient background */
}

/* .banner-text::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
} */