.breadcrumbs{
    font-size: 13px;
    margin: 10px;
  }
  
  .breadcrumbs a{
    color: black;
    text-decoration: none;
  }
  
  .breadcrumbs a:hover{
    color: blue;
    text-decoration: underline;
  }

  .breadcrumbs-and-videos{
    display:flex; 
    justify-content: space-between;
    align-items: center;
  }

  @media(min-width: 769px){
    .breadcrumbs{
      margin: 0px 10px;
    }

    .breadcrumbs-and-videos{
      margin: 5px 15px 5px 5px;
    }
  
  }

  @media(max-width: 768px){
    .breadcrumbs{
      margin: 0px;
    }
    .breadcrumbs-and-videos{
      margin: 5px 8px 5px 8px
    }

  }