.breadcrumbs{
    font-size: 13px;
    margin: 10px;
  }
  
  .breadcrumbs a{
    color: black;
    text-decoration: none;
  }
  
  .breadcrumbs a:hover{
    color: blue;
    text-decoration: underline;
  }

  @media(max-width: 7689px){
    .breadcrumbs{
      margin-top: 0px;
    }
  }

  @media(max-width: 768px){
    .breadcrumbs{
      margin-left: 3px;
    }
  }