button {
    cursor: pointer;
}

.card-button:hover {transform: scale(1.06);}
.card-button:active {transform: scale(.98);}

.cities-wrapper a:hover {transform: scale(1.01);}
.categories-wrapper a:hover {transform: scale(1.02);}
.cities-wrapper a:active{transform: scale(.99);}
.categories-wrapper a:active {transform: scale(.98);}

.cities-wrapper a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Nunito Black";
    font-size: 17px;
    font-weight: bold;

    color: white;
    width: calc(16.66% - 2px);
    height: 70px;

    text-decoration: none;

    text-shadow: 1px 1px 0 #000, 1px 1px 5px #000;
    text-transform: uppercase;
    /* border-radius: 2px; */
    /* box-shadow: 0px 3px 3px rgba(0,0,0,.3) */
}

@media(min-width: 769px){.cities-wrapper a{border-radius: 4px;}}

@media(min-width:769px) and (max-width: 1200px){
    .cities-wrapper a{
        width: calc(25% - 2px);
    }
}

.cities-wrapper a div {
    position: relative; /* Ensure text is above the gradient */
    z-index: 2; /* Ensure text is above the gradient */
}

/* .cities-wrapper a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 30%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 70%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
} */

.categories-wrapper a{
    display: flex;
    align-items: center;
    font-family: "Nunito Extra Bold";
    font-size: 14px;
    text-decoration: none;
    background: white;
    color: black;
    border-radius: 25px;
    padding: 7px 12px 8px 12px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 3px rgba(0,0,0,.2)
}

.categories-wrapper.hp-quick-links a{
    border-radius: 5px;
}

.categories-wrapper .background-img{
    font-family: "Nunito Black";
}

.categories-wrapper div{
    z-index: 1;
}

.categories-wrapper .background-img{
    color: white;
    text-shadow: 1px 1px 0 #000, 1px 1px 5px #000;
}

/* .categories-wrapper .background-img::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 50%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%);
    border-radius: 50%;
    z-index: 0; 
    pointer-events: none;
} */

a.active{
    background: #0d6efd;
    color: white;
}

.card-button{
    position: absolute;
    z-index:3;
    font-weight: bold;
    background: rgba(0, 0, 0, .9);
    color: white;
    height: 25px;
    width: 24px;
    border: 0px;
    border-radius: 3px;
    box-shadow: 0 0 5px #666;
    cursor: pointer;
    
    right: 2px;
}

.close-card{top: 2px}
.image-plus{top: 29px;}
.image-minus{top: 56px;}
.new-window{top: 83px;}

.normal .image-plus{top:2px}
.window-open .new-window{display: none;}

.window-open .image-plus{top: 29px !important;}
.window-open .image-plus,
.window-open .image-minus,
.window-open .close-card{display: flex !important}

/* CARDS 4x4 and 5x5 GRID */
@media(min-width: 1025px){
    .normal .second-button{display: none;}
}

/* CARDS 3x3 GRID */
@media(min-width: 769px) and (max-width: 1024px){
    .tablet-normal .image-plus{top:2px}
    .tablet-normal .second-button{display: none;}
}

/* CARDS 2x2 GRID */
@media(max-width: 768px){
    /* .mobile-normal .image-plus{top:2px} */
    .mobile-normal .second-button{display: none;}

    .mobile-full .image-plus,
    .mobile-full .image-minus,
    .mobile-full .new-window{
        display: none;
    } 

    .card-button.close-card{
        top: 0px !important;
        right: 0px;
        width: 10%;
        height: 18%;
        /* border-radius: 4px; */
        border-bottom-left-radius: 4px;
        background: rgba(0, 0, 0, .6);
    }
    .card-button.image-plus{
        top: 0px !important;
        right: 0px !important;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    /* .home .cities-wrapper,
    .home-category-page .cities-wrapper{
        flex-wrap: nowrap;
        overflow-y: scroll;
        justify-content: start;
    }

    .home .cities-wrapper a,
    .home-category-page .cities-wrapper a{
        min-width: 200px;
        width: auto;
        padding: 0px 50px;
        height: 70px;
        border-radius: 0px;
        box-shadow: 0px 0px 0px black;
        border-radius: 6px;
    } */

    .home .cities-wrapper a,
    .home-category-page .cities-wrapper a{
        width: calc(50% - 3px);
    }

    .cities-wrapper a{
        font-family: "Nunito Bold";
        width: calc(50% - 2px);
        font-size: 16px;
        box-shadow: 0px 0px 0px rgba(0,0,0,0);
        width: auto;
        padding: 0px 20px;
        /* min-width: 150px; */
    }

    .continent-page .cities-wrapper a{
        width: calc(50% - 2px);        
    }

    .bali .cities-wrapper a, 
    .canggu .cities-wrapper a,
    .ubud .cities-wrapper a{
        width: calc(50% - 1px);
    }

    .korea .cities-wrapper a, 
    .seoul .cities-wrapper a{
        width: 100%;
    }

    /* .japan .inner-cities,
    .tokyo .inner-cities,
    .osaka .inner-cities,
    .kyoto .inner-cities{
        overflow-y: visible;
        padding-right: 2px;
    } */

    .japan .cities-wrapper a,
    .tokyo .cities-wrapper a,
    .osaka .cities-wrapper a,
    .kyoto .cities-wrapper a{
        min-width: 150px;
        width: 100%;
    }

    .categories-wrapper{
        overflow-y: scroll;
    }

    .home .categories-wrapper{
        overflow-y: scroll;
        position: relative;
    }

    .categories-wrapper a{
        text-wrap: nowrap;
        white-space: nowrap;
    }
}

@media(max-width: 500px){

    .city-page .cities-wrapper, 
    .category-page .cities-wrapper{
        /* display: none; */
    }

    .home .continents-wrapper a,
    .home-category-page .continents-wrapper a{
        width: calc(50% - 3px) !important;
    }

    .cities-wrapper a{
        /* width: calc(50% - 2px); */
        font-size: 15px;
        height: 50px;

        /* padding: 0px 20px; */

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 6px;
        box-shadow: 0px 2px 5px #ccc;
        white-space: nowrap;
    }

    .home .cities-wrapper a{
        height: 70px;
        border-radius: 2px;
        box-shadow: 0px 0px 0px #ccc;
    }

    /* .home .cities-wrapper a{
        width: calc(50% - 3px);
        padding:0px;
        height: 70px;
        border-radius: 0px;
        box-shadow: 0px 0px 0px black;
    } */

    .home .cities-wrapper a:nth-child(3),
    .home .cities-wrapper a:nth-child(6),
    .home .cities-wrapper a:nth-child(9),
    .home .cities-wrapper a:nth-child(12),
    .home .cities-wrapper a:nth-child(15)
    {
        width: calc(100% - 4px);
    }

    .country-page .cities-wrapper a:nth-child(3),
    .country-page .cities-wrapper a:nth-child(6),
    .country-page .cities-wrapper a:nth-child(9),
    .country-page .cities-wrapper a:nth-child(12),
    .country-page .cities-wrapper a:nth-child(15)
    {
        width: calc(100% - 2px);
    }

    .city-page .cities-wrapper a:nth-child(3),
    .city-page .cities-wrapper a:nth-child(6),
    .city-page .cities-wrapper a:nth-child(9),
    .city-page .cities-wrapper a:nth-child(12),
    .city-page .cities-wrapper a:nth-child(15)
    {
        width: calc(100% - 2px);
    }

    .category-page .cities-wrapper a:nth-child(3),
    .category-page .cities-wrapper a:nth-child(6),
    .category-page .cities-wrapper a:nth-child(9),
    .category-page .cities-wrapper a:nth-child(12),
    .category-page .cities-wrapper a:nth-child(15)
    {
        width: calc(100% - 2px);
    }

    .country-category-page .cities-wrapper a:nth-child(3),
    .country-category-page .cities-wrapper a:nth-child(6),
    .country-category-page .cities-wrapper a:nth-child(9),
    .country-category-page .cities-wrapper a:nth-child(12),
    .country-category-page .cities-wrapper a:nth-child(15)
    {
        width: calc(100% - 2px);
    }

}

.card-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito Regular";
    padding: 0px;
}

.close-card{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.image-plus:hover {transform: scale(1.04);}
.image-plus:active {transform: scale(.98);}


/* Tooltip text */

.card-button[data-tooltip] {
    font-size: 15px;
    line-height: 16px;
}

.card-button[data-tooltip]::after {
    font-family: "Nunito Regular";
    font-size: 10px;
    content: attr(data-tooltip); /* Get the tooltip text from the data-tooltip attribute */
    position: absolute;
    bottom: 125%; /* Position the tooltip above the button */
    right: 0;
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap; /* Prevents text from wrapping */
    opacity: 0; /* Hide the tooltip */
    visibility: hidden; /* Make it invisible */
    transition: opacity 0.2s, visibility 0.2s; /* Smooth transition */
    pointer-events: none; /* Prevent tooltip from interfering with mouse events */
    z-index: 1; /* Ensure it appears above other elements */
}

/* Show the tooltip when hovering over the button */
.card-button[data-tooltip]:hover::after {
opacity: 1; /* Show the tooltip */
visibility: visible; /* Make it visible */
}

.pagination button, .back-to-top{
    width: 100px;
    height: 45px;
    font-family: "Nunito Black";
    background: black;
    color: white;
    border-radius: 6px;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 15px;
    z-index: 4;
    cursor: pointer;
}

.pagination .next:hover, .pagination .previous:hover, .back-to-top:hover {transform: scale(1.03);}
.pagination .next:active, .pagination .previous:active, .back-to-top:active {transform: scale(.98);}