button {
    cursor: pointer;
}

button:hover {transform: scale(1.03);}
button:active {transform: scale(.98);}

.cities-wrapper a:hover {transform: scale(1.01);}
.categories-wrapper a:hover {transform: scale(1.02);}
.cities-wrapper a:active{transform: scale(.99);}
.categories-wrapper a:active {transform: scale(.98);}

.cities-wrapper a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(25% - 5px);
    height: 75px;
    font-family: "Nunito Black";
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 2px black;
    text-shadow: 1px 1px 0 #000, 1px 1px 5px #000;
    text-transform: uppercase;
    position: relative;
}

.cities-wrapper a div {
    position: relative; /* Ensure text is above the gradient */
    z-index: 2; /* Ensure text is above the gradient */
}

.cities-wrapper a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust size to cover the element */
    height: 30%; /* Adjust size to cover the element */
    background: radial-gradient(circle, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 70%);
    border-radius: 50%;
    z-index: 1; /* Ensure gradient is below the text */
    pointer-events: none; /* Prevent the pseudo-element from blocking clicks */
}

.categories-wrapper a{
    display: flex;
    align-items: center;
    font-family: "Nunito Black";
    font-size: 15px;
    text-decoration: none;
    background: white;
    color: black;
    border-radius: 20px;
    padding: 9px 12px 10px 12px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 2px #ccc;
}

.categories-wrapper div{
    z-index: 1;
}

.categories-wrapper .background-img{
    color: white;
    text-shadow: 1px 1px 0 #000, 1px 1px 5px #000;
}

/* .categories-wrapper .background-img::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 50%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%);
    border-radius: 50%;
    z-index: 0; 
    pointer-events: none;
} */

.image-plus{
    position: absolute;
    top: 2px;
    right: 2px;
    z-index:3;
    cursor: pointer;

    font-weight: bold;
    background: rgba(0, 0, 0, .8);
    color: white;

    border-radius: 4px;
    height: 25px;
    width: 24px;
    border: 0px;
    box-shadow: 0 0 5px #666;
}

.image-plus:hover {transform: scale(1.04);}
.image-plus:active {transform: scale(.98);}

.pagination button, .back-to-top{
    width: 100px;
    height: 50px;
    font-family: "Nunito Black";
    background: black;
    color: white;
    border-radius: 6px;
}

.back-to-top {
    position: fixed;
    bottom: 35px;
    right: 15px;
    z-index: 4;
    cursor: pointer;
}