.card{
    position: relative;
    background: #eee;
}

/* CARD SIZES FOR DESKTOP, TABLET and MOBILE */

@media (min-width:1401px){
    .card {
        width: calc(20% - 2px);
    }

    .card.small .resize{
        border: 2px solid white;
    }
    .card.medium .resize,
    .card.large .resize{
        border: 3px solid white;
    }
}

@media(max-width: 1440px) and (min-width: 1025px){
    .card {
        width: calc(25% - 2px);
    }
    .card.small .resize{
        border: 2px solid white;
    }
    .card.medium .resize,
    .card.large .resize{
        border: 3px solid white;
    }
}

@media(max-width: 1025px) and (min-width: 769px){
    .card {
        width: calc(25% - 2px);
    }
    .card.tablet-small .resize{
        border: 2px solid white;
    }
    .card.tablet-medium .resize{
        border: 3px solid white;
    }
}

@media(max-width: 1024px) and (min-width: 769px){
    .card {
        width: calc(33.33% - 2px);
    }
}

@media(max-width: 768px){
    .card {
        width: calc(50% - 5px);
    }
    .card.mobile-full{
        position: sticky;
        top: 60px;
        z-index: 6;
    }
    .cards-wrapper.full-width .card{
        width: calc(100% - 6px);
    }

    .cards-wrapper.full-width .card-button.image-plus{
        display: none;
    }

    .cards-wrapper.grid .card{
        width: calc(50% - 4px) !important;
    }

    .cards-wrapper.grid .card.mobile-normal:nth-child(5n + 5) .image-plus{display: flex;}
    .cards-wrapper.grid .card.mobile-full:nth-child(2n + 1) .resize{left: -2px;}
    .cards-wrapper.grid .card.mobile-full:nth-child(2n + 2) .resize{right: -2px; left: unset;}

    .cards-wrapper.full-width .card.mobile-full .resize{width: 100%}

    .full-width-btn{
        position: fixed;
        bottom: 75px;
        right: 15px;
        width: 45px;
        height: 45px;
        z-index: 5;

        display: flex;
        align-items: center;
        justify-content: center;

        font-family: "Nunito Black";
        background: rgba(0,0,0,.8);
        color: white;
        border-radius: 6px;
        color: white;
        cursor: pointer;
        box-shadow: 0px 0px 5px black;
        border: 1px solid white;
    }

    .full-width .card.vertical .resize{
        transform: rotate(90deg);
        z-index: 6;
        width: 150%;
        margin-left: -25%;
        border: 4px solid black;
    }

    .card.mobile-full.vertical:nth-child(2n + 2) .resize{
        margin-left: -151%;
        left: -2px !important;
    }

    .grid .mobile-normal.horizontal .rotate-card,
    .masonry .mobile-normal.horizontal .rotate-card{
        display: none;
    }

    .card.mobile-full.vertical .resize{
        transform: rotate(90deg);
        z-index: 5;
        width: 305%;
        margin-left: -51%;
        border: 2px solid white;
    }

    .vertical .resize{box-shadow: 0px 0px 5px black;}
}

/* IFRAME */

.auto-resizable-iframe {
    margin: 0px auto;
    background: white;
    position: relative;
}

.auto-resizable-iframe>div {
    position: relative;
    height: 0px;
}

.auto-resizable-iframe iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.iframe-div {
    padding-bottom: 57% !important;
    z-index: 2;
}

/* MAKE CARD LARGER */

.card.small .resize, 
.card.medium .resize,
.card.large .resize{position: absolute; z-index: 4; box-shadow: 0px 0px 15px black;}
/* .card.large .resize{position: fixed; z-index: 4; max-width:1500px; top: 50%;left: 50%;transform: translate(-50%, -50%); box-shadow: 0px 0px 10px rgba(0, 0, 0, .4)} */

/* SIZES */
.card.small .resize{width: 175%;}
.card.medium .resize{width: 275%;}
.card.large .resize{width: 402%;}

.card.window-open .resize{box-shadow: 0px 0px 15px black !important}


/* CARDS 5x5 LARGE DESKTOP GRID */
@media(min-width: 1441px){
    .card.small:nth-child(5n+1) .resize,
    .card.medium:nth-child(5n+1) .resize,
    .card.large:nth-child(5n+1) .resize{top: 50%;transform: translateY(-50%);left:0;}

    .card.small:nth-child(5n+2) .resize,
    .card.medium:nth-child(5n+2) .resize,
    .card.small:nth-child(5n+3) .resize,
    .card.medium:nth-child(5n+3) .resize,
    .card.small:nth-child(5n+4) .resize,
    .card.medium:nth-child(5n+4) .resize{top: 50%;left: 50%;transform: translate(-50%, -50%);}

    .card.large:nth-child(5n+2) .resize{top: 50%;left: 130%;transform: translate(-50%, -50%);}
    .card.large:nth-child(5n+3) .resize{top: 50%;left: 50%;transform: translate(-50%, -50%);}
    .card.large:nth-child(5n+4) .resize{top: 50%;left: -30%;transform: translate(-50%, -50%);}

    .card.small:nth-child(5n+5) .resize,
    .card.medium:nth-child(5n+5) .resize,
    .card.large:nth-child(5n+5) .resize{top: 50%;transform: translateY(-50%);right:0;}

    .card.large .resize{width: 450%;}

    .card.large:nth-child(1) .resize,
    .card.large:nth-child(2) .resize,
    .card.large:nth-child(3) .resize,
    .card.large:nth-child(4) .resize,
    .card.large:nth-child(5) .resize{top: 150%}


    .card.window-open .resize{position:fixed; top:10px !important; right:10px !important; z-index:5; left: auto !important; transform:none !important;}
    
    .card.window-open.window-sm .resize{width:30%}
    .card.window-open.window-m .resize{width:50%}
    .card.window-open.window-l .resize{width:70%}
    .card.window-open.window-xl .resize{width:98%;max-width: 1500px;top: 50%;left: 50%;transform: translate(-50%, -50%);}
}


/* CARDS 4x4 DESKTOP GRID */
@media(min-width: 1025px) and (max-width: 1440px){
    .card.small:nth-child(4n+1) .resize,
    .card.medium:nth-child(4n+1) .resize,
    .card.large:nth-child(4n+1) .resize{top: 50%;transform: translateY(-50%);left:0;}

    .card.small:nth-child(4n+2) .resize,
    .card.medium:nth-child(4n+2) .resize,

    .card.small:nth-child(4n+3) .resize,
    .card.medium:nth-child(4n+3) .resize{top: 50%;left: 50%;transform: translate(-50%, -50%);}

    .card.large:nth-child(4n+2) .resize{top: 50%;left: 0;transform: translate(-25%, -50%);}
    .card.large:nth-child(4n+3) .resize{top: 50%;left: 0;transform: translate(-50%, -50%);}

    .card.small:nth-child(4n+4) .resize,
    .card.medium:nth-child(4n+4) .resize,
    .card.large:nth-child(4n+4) .resize{top: 50%;transform: translateY(-50%);right:0;}

    .card.large:nth-child(1) .resize,
    .card.large:nth-child(2) .resize,
    .card.large:nth-child(3) .resize,
    .card.large:nth-child(4) .resize{top: 110%}

    .card.window-open .resize{position:fixed; top:10px !important; right:10px !important; z-index:5; left: auto !important; transform:none !important;}
    
    .card.window-open.window-sm .resize{width:30%;}
    .card.window-open.window-m .resize{width:50%;}
    .card.window-open.window-l .resize{width:70%;}
    .card.window-open.window-xl .resize{width:98%;max-width: 1500px;top: 50%;left: 50%;transform: translate(-50%, -50%);}
}

/* CARDS 3x3 TABLET GRID */
@media(min-width: 769px) and (max-width: 1024px){
    .card.tablet-small .resize{width: 175%;}
    .card.tablet-medium .resize{width: 301%;}
    /* .card.tablet-medium .resize{position: fixed; z-index: 4; max-width:1500px; top: 50%;left: 50%;transform: translate(-50%, -50%); box-shadow: 0px 0px 10px rgba(0, 0, 0, .4)} */

    .card.tablet-small:nth-child(3n+1) .resize{top: 50%;transform: translateY(-50%);left:0;}
    .card.tablet-small:nth-child(3n+2) .resize{top: 50%;left: 50%;transform: translate(-50%, -50%);}
    .card.tablet-small:nth-child(3n+3) .resize{top: 50%;transform: translateY(-50%);right:0;}

    .card.tablet-medium:nth-child(3n+1) .resize{top: 50%;transform: translateY(-50%);left:0;}
    .card.tablet-medium:nth-child(3n+2) .resize{top: 50%;left: 50%;transform: translate(-50%, -50%);}
    .card.tablet-medium:nth-child(3n+3) .resize{top: 50%;transform: translateY(-50%);right:0;}

    .card.window-open .resize{position:fixed; top:10px !important; right:10px !important; z-index:5; left: auto !important; transform:none !important;}
    
    .card.window-open.window-sm .resize{width:30%;}
    .card.window-open.window-m .resize{width:50%;}
    .card.window-open.window-l .resize{width:70%;}
    .card.window-open.window-xl .resize{width:98%;max-width: 1500px;top: 50%;left: 50%;transform: translate(-50%, -50%);}
}

/* CARDS 2x2 MOBILE MASONRY */
@media(max-width: 768px){
    .card.mobile-full .resize{width: 100%;}
    .card.mobile-full .resize{position: absolute; z-index: 4; box-shadow: 0px 0px 15px black;}

    .card.mobile-full .resize{top: -60px;width: calc(200% + 6px); right: -2px; border:4px solid black;}

    .card:nth-child(5n + 5){width: calc(100% - 6px) !important}
    .card:nth-child(5n + 5) .image-plus{display: none;}

    .card.mobile-full:nth-child(1) .resize, .card.mobile-full:nth-child(3) .resize,
    .card.mobile-full:nth-child(6) .resize, .card.mobile-full:nth-child(8) .resize,
    .card.mobile-full:nth-child(11) .resize, .card.mobile-full:nth-child(13) .resize,
    .card.mobile-full:nth-child(16) .resize, .card.mobile-full:nth-child(18) .resize,
    .card.mobile-full:nth-child(21) .resize, .card.mobile-full:nth-child(23) .resize,
    .card.mobile-full:nth-child(26) .resize, .card.mobile-full:nth-child(28) .resize,
    .card.mobile-full:nth-child(31) .resize, .card.mobile-full:nth-child(33) .resize,
    .card.mobile-full:nth-child(36) .resize, .card.mobile-full:nth-child(38) .resize,
    .card.mobile-full:nth-child(41) .resize, .card.mobile-full:nth-child(43) .resize,
    .card.mobile-full:nth-child(46) .resize, .card.mobile-full:nth-child(48) .resize,
    .card.mobile-full:nth-child(51) .resize, .card.mobile-full:nth-child(53) .resize,
    .card.mobile-full:nth-child(56) .resize, .card.mobile-full:nth-child(58) .resize,
    .card.mobile-full:nth-child(61) .resize, .card.mobile-full:nth-child(63) .resize,
    .card.mobile-full:nth-child(66) .resize, .card.mobile-full:nth-child(68) .resize,
    .card.mobile-full:nth-child(71) .resize, .card.mobile-full:nth-child(73) .resize,
    .card.mobile-full:nth-child(76) .resize, .card.mobile-full:nth-child(78) .resize,
    .card.mobile-full:nth-child(81) .resize, .card.mobile-full:nth-child(83) .resize,
    .card.mobile-full:nth-child(86) .resize, .card.mobile-full:nth-child(88) .resize,
    .card.mobile-full:nth-child(91) .resize, .card.mobile-full:nth-child(93) .resize,
    .card.mobile-full:nth-child(96) .resize, .card.mobile-full:nth-child(98) .resize,

    .card.mobile-full:nth-child(101) .resize, .card.mobile-full:nth-child(103) .resize,
    .card.mobile-full:nth-child(106) .resize, .card.mobile-full:nth-child(108) .resize,
    .card.mobile-full:nth-child(111) .resize, .card.mobile-full:nth-child(113) .resize,
    .card.mobile-full:nth-child(116) .resize, .card.mobile-full:nth-child(118) .resize,
    .card.mobile-full:nth-child(121) .resize, .card.mobile-full:nth-child(123) .resize,
    .card.mobile-full:nth-child(126) .resize, .card.mobile-full:nth-child(128) .resize,
    .card.mobile-full:nth-child(131) .resize, .card.mobile-full:nth-child(133) .resize,
    .card.mobile-full:nth-child(136) .resize, .card.mobile-full:nth-child(138) .resize,
    .card.mobile-full:nth-child(141) .resize, .card.mobile-full:nth-child(143) .resize,
    .card.mobile-full:nth-child(146) .resize, .card.mobile-full:nth-child(148) .resize,
    .card.mobile-full:nth-child(151) .resize, .card.mobile-full:nth-child(153) .resize,
    .card.mobile-full:nth-child(156) .resize, .card.mobile-full:nth-child(158) .resize,
    .card.mobile-full:nth-child(161) .resize, .card.mobile-full:nth-child(163) .resize,
    .card.mobile-full:nth-child(166) .resize, .card.mobile-full:nth-child(168) .resize,
    .card.mobile-full:nth-child(171) .resize, .card.mobile-full:nth-child(173) .resize,
    .card.mobile-full:nth-child(176) .resize, .card.mobile-full:nth-child(178) .resize,
    .card.mobile-full:nth-child(181) .resize, .card.mobile-full:nth-child(183) .resize,
    .card.mobile-full:nth-child(186) .resize, .card.mobile-full:nth-child(188) .resize,
    .card.mobile-full:nth-child(191) .resize, .card.mobile-full:nth-child(193) .resize,
    .card.mobile-full:nth-child(196) .resize, .card.mobile-full:nth-child(198) .resize,

    .card.mobile-full:nth-child(201) .resize, .card.mobile-full:nth-child(203) .resize,
    .card.mobile-full:nth-child(206) .resize, .card.mobile-full:nth-child(208) .resize,
    .card.mobile-full:nth-child(211) .resize, .card.mobile-full:nth-child(213) .resize,
    .card.mobile-full:nth-child(216) .resize, .card.mobile-full:nth-child(218) .resize,
    .card.mobile-full:nth-child(221) .resize, .card.mobile-full:nth-child(223) .resize,
    .card.mobile-full:nth-child(226) .resize, .card.mobile-full:nth-child(228) .resize,
    .card.mobile-full:nth-child(231) .resize, .card.mobile-full:nth-child(233) .resize,
    .card.mobile-full:nth-child(236) .resize, .card.mobile-full:nth-child(238) .resize,
    .card.mobile-full:nth-child(241) .resize, .card.mobile-full:nth-child(243) .resize,
    .card.mobile-full:nth-child(246) .resize, .card.mobile-full:nth-child(248) .resize,
    .card.mobile-full:nth-child(251) .resize, .card.mobile-full:nth-child(253) .resize,
    .card.mobile-full:nth-child(256) .resize, .card.mobile-full:nth-child(258) .resize,
    .card.mobile-full:nth-child(261) .resize, .card.mobile-full:nth-child(263) .resize,
    .card.mobile-full:nth-child(266) .resize, .card.mobile-full:nth-child(268) .resize,
    .card.mobile-full:nth-child(271) .resize, .card.mobile-full:nth-child(273) .resize,
    .card.mobile-full:nth-child(276) .resize, .card.mobile-full:nth-child(278) .resize,
    .card.mobile-full:nth-child(281) .resize, .card.mobile-full:nth-child(283) .resize,
    .card.mobile-full:nth-child(286) .resize, .card.mobile-full:nth-child(288) .resize,
    .card.mobile-full:nth-child(291) .resize, .card.mobile-full:nth-child(293) .resize,
    .card.mobile-full:nth-child(296) .resize, .card.mobile-full:nth-child(298) .resize,

    .card.mobile-full:nth-child(301) .resize, .card.mobile-full:nth-child(303) .resize,
    .card.mobile-full:nth-child(306) .resize, .card.mobile-full:nth-child(308) .resize,
    .card.mobile-full:nth-child(311) .resize, .card.mobile-full:nth-child(313) .resize,
    .card.mobile-full:nth-child(316) .resize, .card.mobile-full:nth-child(318) .resize,
    .card.mobile-full:nth-child(321) .resize, .card.mobile-full:nth-child(323) .resize,
    .card.mobile-full:nth-child(326) .resize, .card.mobile-full:nth-child(328) .resize,
    .card.mobile-full:nth-child(331) .resize, .card.mobile-full:nth-child(333) .resize,
    .card.mobile-full:nth-child(336) .resize, .card.mobile-full:nth-child(338) .resize,
    .card.mobile-full:nth-child(341) .resize, .card.mobile-full:nth-child(343) .resize,
    .card.mobile-full:nth-child(346) .resize, .card.mobile-full:nth-child(348) .resize,
    .card.mobile-full:nth-child(351) .resize, .card.mobile-full:nth-child(353) .resize,
    .card.mobile-full:nth-child(356) .resize, .card.mobile-full:nth-child(358) .resize,
    .card.mobile-full:nth-child(361) .resize, .card.mobile-full:nth-child(363) .resize,
    .card.mobile-full:nth-child(366) .resize, .card.mobile-full:nth-child(368) .resize,
    .card.mobile-full:nth-child(371) .resize, .card.mobile-full:nth-child(373) .resize,
    .card.mobile-full:nth-child(376) .resize, .card.mobile-full:nth-child(378) .resize,
    .card.mobile-full:nth-child(381) .resize, .card.mobile-full:nth-child(383) .resize,
    .card.mobile-full:nth-child(386) .resize, .card.mobile-full:nth-child(388) .resize,
    .card.mobile-full:nth-child(391) .resize, .card.mobile-full:nth-child(393) .resize,
    .card.mobile-full:nth-child(396) .resize, .card.mobile-full:nth-child(398) .resize,

    .card.mobile-full:nth-child(401) .resize, .card.mobile-full:nth-child(403) .resize,
    .card.mobile-full:nth-child(406) .resize, .card.mobile-full:nth-child(408) .resize,
    .card.mobile-full:nth-child(411) .resize, .card.mobile-full:nth-child(413) .resize,
    .card.mobile-full:nth-child(416) .resize, .card.mobile-full:nth-child(418) .resize,
    .card.mobile-full:nth-child(421) .resize, .card.mobile-full:nth-child(423) .resize,
    .card.mobile-full:nth-child(426) .resize, .card.mobile-full:nth-child(428) .resize,
    .card.mobile-full:nth-child(431) .resize, .card.mobile-full:nth-child(433) .resize,
    .card.mobile-full:nth-child(436) .resize, .card.mobile-full:nth-child(438) .resize,
    .card.mobile-full:nth-child(441) .resize, .card.mobile-full:nth-child(443) .resize,
    .card.mobile-full:nth-child(446) .resize, .card.mobile-full:nth-child(448) .resize,
    .card.mobile-full:nth-child(451) .resize, .card.mobile-full:nth-child(453) .resize,
    .card.mobile-full:nth-child(456) .resize, .card.mobile-full:nth-child(458) .resize,
    .card.mobile-full:nth-child(461) .resize, .card.mobile-full:nth-child(463) .resize,
    .card.mobile-full:nth-child(466) .resize, .card.mobile-full:nth-child(468) .resize,
    .card.mobile-full:nth-child(471) .resize, .card.mobile-full:nth-child(473) .resize,
    .card.mobile-full:nth-child(476) .resize, .card.mobile-full:nth-child(478) .resize,
    .card.mobile-full:nth-child(481) .resize, .card.mobile-full:nth-child(483) .resize,
    .card.mobile-full:nth-child(486) .resize, .card.mobile-full:nth-child(488) .resize,
    .card.mobile-full:nth-child(491) .resize, .card.mobile-full:nth-child(493) .resize,
    .card.mobile-full:nth-child(496) .resize, .card.mobile-full:nth-child(498) .resize
    {
        left:-2px;
    } 

}





/* MAKE CARD SMALLER */