.hp-countries-menu{
    position: relative;
    background: black;

    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;
    padding: 20px;

    row-gap: 15px;
    z-index: 15;
    box-shadow: 0px 0px 15px black;

    border-top: 1px solid white;
    border-bottom: 2px solid white;
}

.asia-dropdown-menu{
    background: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: baseline;

    height: 500px;
    width: 100%;
    padding: 20px;
    text-align: left;
    column-gap: 5px;
    z-index: 15;
    box-shadow: 0px 0px 15px black;

    line-height: 18px;
    row-gap: 22px;
    flex-wrap: wrap;
    z-index: 10;
    overflow-y: scroll;

    border-top: 1px solid white;
    border-bottom: 2px solid white;
}

.asia-dropdown-menu .inner-menu{
    width: 100%;
    display: flex;
    overflow-y: scroll;
    row-gap: 15px;
}

.asia-dropdown-menu .inner-menu a{
    font-family: "Nunito Black";
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 0px 7px;
    cursor: pointer;
}

.dropdownMenuBack{
    display: flex;
    align-items: center;
    color: white;
    font-family: "Nunito Black";
    font-size: 15px;
}

.quick-links-countries {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    margin: 0px !important;
}

.quick-links-countries.d-flex {
    max-height: 500px; /* Adjust this value according to your content's height */
}