.hp-countries-menu{
    position: relative;
    background: black;

    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;
    padding: 20px;

    row-gap: 15px;
    z-index: 15;
    box-shadow: 0px 0px 15px black;

    border-top: 1px solid white;
    border-bottom: 2px solid white;
}

.asia-dropdown-menu{
    background: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: baseline;

    height: 500px;
    width: 100%;
    padding: 20px;
    text-align: left;
    column-gap: 5px;
    z-index: 15;
    box-shadow: 0px 0px 15px black;

    line-height: 18px;
    row-gap: 22px;
    flex-wrap: wrap;
    z-index: 10;
    overflow-y: scroll;

    border-top: 1px solid white;
    border-bottom: 2px solid white;
}

.asia-dropdown-menu .inner-menu{
    width: 100%;
    display: flex;
    overflow-y: scroll;
    row-gap: 15px;
}

.asia-dropdown-menu .inner-menu a{
    font-family: "Nunito Black";
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 0px 7px;
    cursor: pointer;
}

.dropdownMenuBack{
    display: flex;
    align-items: center;
    color: white;
    font-family: "Nunito Black";
    font-size: 15px;
}

/* .quick-links-countries, .hp-quick-links {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.75s ease-in-out;
    margin: 0px !important;
}

.quick-links-countries.d-flex, .hp-quick-links.d-flex {
    max-height: 1000px;
} */

.hp-quick-links.d-flex,
.quick-links-countries.d-flex{
    position: fixed !important;
    background: white;
    height: 100vh;
    top: 0px;
    z-index: 10;
}

.hp-quick-links.d-flex .inner-categories{
    /* background: rgba(0, 0, 0, .95); */
    background:white;
}

.categories-wrapper.hp-quick-links a{
    border: 0px solid #ccc;
    box-shadow: 0 0 0px #ccc;
}

#close-quick-links{
    position: absolute;
    color: black;
    right: 10px;
    top: 10px !important;
    width: 35px;
    height: 35px;
    background: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px black;
}

.quick-links-btn-mobile, .quick-links-countries-btn-mobile{
    width: 48%;
    background: #eee;
    border-radius: 6px;
    box-shadow: 0px 0px 5px black;
    /* margin: auto; */
    margin-top: 10px;
    /* margin-bottom: 10px; */
    padding: 10px 15px !important;
    background: rgba(0, 0, 0, .95) !important;
    color: white;
    display: inline-block !important;
}

.quick-links-btn-mobile{margin-right: 1.5%;}

.quick-links-btn-mobile h2, .quick-links-countries-btn-mobile h2{
    font-family: "Nunito Black" !important;
    font-weight: 100 !important;
    font-size: 18px !important;
    color: white !important;
    margin: 0px !important;
}

.quick-links-btn-mobile:hover, .quick-links-countries-btn-mobile:hover{
    transform: scale(1.02);
}

.quick-links-btn-mobile:active, .quick-links-countries-btn-mobile:active{
    transform: scale(.98);
}

.hp-quick-links h2{
    font-family: "Nunito Black";
    font-weight: 100;
    font-size: 26px;
    margin-bottom: 5px;
    margin-top: 0px;
}