.background-img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position-y: 46% !important;
    color: white;
}


/* .background-img:before{
    background: rgba(0, 0, 0, .1);
    border-radius: 6px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
} */

.bali-img {background-image: url('../assets/img/banners/bali-banner.jpeg') !important;}
.thailand-img {background-image: url('../assets/img/banners/thailand-banner.jpeg') !important;}
.japan-img {background-image: url('../assets/img/banners/japan-banner.jpeg') !important;background-position-y: 90% !important;}
.korea-img {background-image: url('../assets/img/banners/korea-banner.jpeg') !important;}
.brazil-img {background-image: url('../assets/img/banners/brazil-banner.jpeg') !important;}
.colombia-img {background-image: url('../assets/img/banners/colombia-banner.jpeg') !important;}
.mexico-img {background-image: url('../assets/img/banners/mexico-banner.jpeg') !important;}
.costarica-img {background-image: url('../assets/img/banners/costarica-banner.jpeg') !important;}
.portugal-img {background-image: url('../assets/img/banners/portugal-banner.jpeg') !important;}
.italy-img {background-image: url('../assets/img/banners/italy-banner.jpeg') !important;}
.france-img {background-image: url('../assets/img/banners/france-banner.jpeg') !important;}
.spain-img {background-image: url('../assets/img/banners/spain-banner.jpeg') !important;}

.bangkok-img {background-image: url('../assets/img/banners/bangkok-banner.jpeg') !important; background-position-y: 0% !important;}
.tokyo-img {background-image: url('../assets/img/banners/tokyo-banner.jpeg') !important; background-position-y: 67% !important;}
.vietnam-img {background-image: url('../assets/img/banners/vietnam-banner.jpeg') !important;}
.kophangan-img {background-image: url('../assets/img/banners/kophangan-banner.jpeg') !important;}
.taiwan-img {background-image: url('../assets/img/banners/taiwan-banner.jpeg') !important; background-position-y: 79% !important;}
.seoul-img {background-image: url('../assets/img/banners/seoul-banner.jpeg') !important; background-position-y: 67% !important;}

.chiangmai-img {background-image: url('../assets/img/banners/chiangmai-banner.jpeg') !important;}
/* .phuket-img {background-image: url('../assets/img/banners/phuket-banner.jpeg') !important; background-position-y: 0% !important;}
.kosamui-img {background-image: url('../assets/img/banners/kosamui-banner.jpeg') !important; background-position-y: 0% !important;} */

    