.navbar{
    height: 60px;
    /* background:white; */
    padding: 0px 10px;
    width: 100%;
    margin: auto;
    border-radius: 2px;
    position: relative;
}

.navbar-white{
    background: white;
}

.navbar-white .nav-logo, 
.navbar-white .hamburger,
.navbar-white .hamburger svg,
.desktop.navbar-white .continents-menu .nav-menu.continent{
    color: black;
}

.navbar-white .nav-logo:hover,
.desktop.navbar-white .continents-menu .nav-menu.continent:hover{
    color: #666;
}

.nav-menu{
    font-family: "Nunito Black";
    font-size: 17px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin: 0px 7px;
    cursor: pointer;
    line-height: 20px;
}

@media(min-width:769px){
    .nav-logo{
        font-size: 24px;
    }
}

@media(max-width:768px){
    .nav-logo{
        font-size: 23px;
    }
}

.nav-logo{
    font-family: "Edo";
    font-weight: 100;
}

.nav-menu:hover{
    color: rgba(0,0,0,.8);
}

.hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width: 769px){
    .desktop-menu{
        position: absolute;
        top: 40px;

        align-items: center;
        column-gap: 5px;
        text-align: left;

        background: rgba(0,0,0,.95);
        box-shadow: 0px 0px 15px black;

        width: 500px;
        height: 80vh;
        padding: 20px 0px 20px 20px;

        overflow-y: auto;
        z-index: 15;

        border-bottom: 1px solid #666;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .asia-menu{left: -210px;}
    .southamerica-menu{left: -120px}
    .europe-menu{left: 30px}
    .middleeast-menu{left: 100px}

    .desktop-menu.d-flex{
        display: block !important;
    }

    .desktop-menu .inner-menu{
        display: flex;
    }

    .mobile-menu.mobile, .mobile-menu{
        display: none !important;
    }
}

@media(max-width: 768px){
    .navbar{
        border-radius: 0px;
    }

    .mobile-menu.desktop{
        display: none !important;
    }

    .mobile-menu{
        position: fixed;
        background: rgba(0,0,0,.95);

        display: block;
        align-items: flex-start;
        width: 95%;
        padding: 20px 0px 20px 20px;
        text-align: left;
        column-gap: 5px;
        z-index: 15;
        box-shadow: 0px 0px 15px black;

        height: 100vh;
        overflow-y: scroll;
        transition: right .4s ease;
    }

    .main-mobile-menu .nav-menu{
        margin: 25px 0px;
    }

    .nav-menu:hover{
        color: white;
    }

    .hamburger:hover{
        color: #eee;
    }

    .mobile-menu .inner-menu{
        width: 100%;
        display: flex;
        overflow-y: scroll;
        row-gap: 15px;
        padding-top: 20px;
        z-index: 16;
    }

    .mobile-menu.asia-menu,
    .mobile-menu.southamerica-menu,
    .mobile-menu.europe-menu,
    .mobile-menu.middleeast-menu{
        line-height: 20px;
        flex-direction: column;
        align-items: baseline;
        row-gap: 22px;
        flex-wrap: wrap;
        z-index: 16;
        width: 95%;
    }

    .mobile-menu #home-categories{
        position: relative !important;
        padding-right: 20px;
        background: rgba(0,0,0,0);
        height: 100vh;
    }

    .mobile-menu #home-categories .inner-categories{
        background: rgba(0,0,0,0);
        padding-top: 0px;
        row-gap: 10px;
    }

    .mobile-menu #home-categories .inner-categories h2{
        color: white;
        margin-top: 0px !important;
        font-size: 20px;
    }
}