.navbar{
    height: 60px;
    background:black;
    padding: 0px 10px;

    width: 100%;
    margin: auto;
    /* box-shadow: 0px 0px 5px black; */
    border-radius: 2px;
}

.nav-menu{
    font-family: "Nunito Black";
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 0px 7px;
    cursor: pointer;
    line-height: 20px;
}

.nav-logo{
    font-family: "Edo";
    font-size: 21px;
    font-weight: 100;
}

.nav-menu:hover{
    color: #FF516B;
}

.hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 768px){
    .navbar{
        border-radius: 0px;
    }

    .mobile-menu{
        position: absolute;
        background: rgba(0,0,0,.95);

        display: flex;
        align-items: center;
        width: 100%;
        padding: 0px 0px 20px 20px;
        text-align: left;
        column-gap: 5px;
        z-index: 15;
        box-shadow: 0px 0px 15px black;

        height: 100vh;
        overflow-y: scroll;
    }

    .nav-menu:hover{
        color: white;
    }

    .hamburger:hover{
        color: #eee;
    }

    .mobile-menu .inner-menu{
        width: 100%;
        display: flex;
        overflow-y: scroll;
        row-gap: 15px;
    }

    .mobile-menu.asia-menu{
        line-height: 20px;
        /* height: 500px; */
        flex-direction: column;
        align-items: baseline;
        row-gap: 22px;
        flex-wrap: wrap;
        z-index: 10;
    }

    .mobile-menu #home-categories{
        position: relative !important;
        padding-right: 20px;
        background: rgba(0,0,0,0);
        height: 100% !important;
    }

    .mobile-menu #home-categories .inner-categories{
        background: rgba(0,0,0,0);
        padding-top: 0px;
        row-gap: 10px;
    }

    .mobile-menu #home-categories .inner-categories h2{
        color: white;
        margin-top: 0px !important;
        font-size: 20px;
    }
}