
@media(min-width: 1401px){
  .App {
    /* max-width: 1800px; */
    margin: auto;
    border: 2px solid #eee
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
	font-family: "Edo"; 
	src: local("edo"),
	  url("./assets/fonts/Edo/edo.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), 
  url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Light";
  src: local("Nunito"), 
  url("./assets/fonts/Nunito/static/Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Regular";
  src: local("Nunito"), 
  url("./assets/fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Medium";
  src: local("Nunito"), 
  url("./assets/fonts/Nunito/static/Nunito-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Semi Bold";
  src: local("Nunito"), 
  url("./assets/fonts/Nunito/static/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Bold";
  src: local("Nunito"), 
  url("./assets/fonts/Nunito/static/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Extra Bold";
  src: local("Nunito"), 
  url("./assets/fonts/Nunito/static/Nunito-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Black";
  src: local("Nunito"), 
  url("./assets/fonts/Nunito/static/Nunito-Black.ttf") format("truetype");
}

/* Apply box-sizing to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body{
  box-sizing: border-box;
}

h1{font-family: "Nunito Black";margin: .5em 0px;}
h2{font-family: "Nunito Black"; font-size: 26px}

.bold{font-weight: bold;}
.text-center{text-align: center;}

.pos-rel{position: relative;}

.flex-col{flex-direction: column;}
.justify-center{justify-content: center;}
.space-between{justify-content: space-between;}
.align-center{align-items: center;}

.w-45{width: 45%;}
.w-50{width: 50%;}
.w-55{width: 55%;}
.w-80{width: 80%;}
.w-90{width: 90%;}
.w-95{width: 95%;}

.col-gap-5{column-gap: 5px;}
.col-gap-10{column-gap: 10px;}
.row-gap-5{row-gap: 5px;}

.mt-5{margin-top: 5px;}
.mt-10{margin-top: 10px;}
.mt-15{margin-top: 15px;}
.mt-20{margin-top: 20px;}
.mt-25{margin-top: 25px;}

.mb-5{margin-bottom: 5px;}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}

.mr-5{margin-right: 5px;}

.mx-2{margin-left: 2px; margin-right: 2px}
.mx-3{margin-left: 3px; margin-right: 3px}

.my-5{margin-top: 5px; margin-bottom: 5px;}
.my-10{margin-top: 10px; margin-bottom: 10px;}

.home .continents-wrapper,
.home-category-page .continents-wrapper{
  margin-bottom: 2px;
}

.cities-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  column-gap: 10px;
  row-gap: 10px;
  /* max-width: 1400px; */
  margin-bottom: 10px;
  width: 100%;
}

.categories-wrapper{
  padding: 5px 0px 20px 0px;
  z-index: 3;
  /* background: #eee; */
  /* border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; */
}

.inner-categories{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  /* max-width: 1300px; */
  margin: auto;
}

.categories-row .inner-categories{
  column-gap: 5px;
  row-gap: 5px;
}

.home .inner-categories,
.home-category-page .inner-categories{
  margin-top: 10px;
}

.category-title h2{
  margin: 0px;
}

.category-title{
  position: sticky;
  top: 0px;
  padding: 15px 0px;
  background-color: white;
  z-index: 4;
}

.total-videos{
  font-size: 12px;
  /* margin-top: 10px; */
}

.cards-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2px;
  row-gap: 2px;
  margin: 0px 0px 0px 0px;
  margin-bottom: 200px;
}

@media(min-width: 769px){
  .mobile{
    display: none !important;
  }

  .black-bar-title{
    justify-content: center;
    margin-bottom: 10px;
    /* background: black; */
    background: linear-gradient(45deg, black, rgba(0,0,0,.9));
    color: white;
    padding: 15px;
    margin-top: 25px;
    /* border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; */
    box-shadow: 0px 2px 5px black;
    width: calc(100% - 16px);
    margin: 25px auto 10px auto;
    border-radius: 4px;
  }

  .black-bar-title h2{
    font-family: "Edo";
    font-weight: 100;
    font-size: 30px;
    margin: 0px;
  }

  .cards-wrapper{
    padding:0px 1px;
  }

  .category-title {
    padding: 20px 0px;
    /* background: black; */
    background: linear-gradient(45deg, black, rgba(0,0,0,.9));
    color: white;
    z-index: 4;
    /* border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; */
    box-shadow: 0px 2px 5px black;
    width: calc(100% - 16px);
    margin: 25px auto 10px auto;
    border-radius: 4px;
}

.categories-wrapper{
  background: #eee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px 0px 15px 0px;
  margin-bottom: 25px;
}

.category-title h2 {
  font-family: "Edo";
  font-weight: 100;
  font-size: 30px;
}

  .cities-wrapper{
    padding: 0px 1px;
  }

  .inner-cities{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    column-gap: 10px;
    row-gap: 10px;
    /* max-width: 1400px; */
    margin-bottom: 0px;
    width: 100%;
  }

  .hp-quick-links{
    background-color: white;
    padding-bottom: 0px;
    border-bottom: 0px solid #ccc;
    margin-bottom: 25px;
    border-top: 0px solid #ccc;
  }
}

@media(max-width: 768px){
  .desktop{
    display: none !important;
  }

  .black-bar-title{
    display: flex;
    align-items: center;
    justify-content: center;

    background: white;

    padding: 12px 20px 5px 20px;
    cursor: pointer;
  }

  .black-bar-title h2{
    font-family: "Edo";
    font-weight: 100;
    font-size: 26px;
    color: black;
    margin: 0px;
  }

  .black-bar-title svg{
    color: black;
  }

  .home .mobile-menu{
    flex-direction: column;
    align-items: baseline;
    /* position: relative; */
  }

  .home .category-title, .category-title{
    margin: 0px;
    padding: 10px 5px;
    background: black;
    color: white;
    /* border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; */
    /* margin-top: 2px; */
  }

  .home .category-title{
    margin-top: 10px;
  }

  .home .category-title h2, .category-title h2{
    font-family: "Edo";
    font-weight: 100;
    font-size: 28px;

    white-space: nowrap;
    overflow: hidden;
  }

  .home-category-page .category-title{
    /* margin-bottom: 10px; */
    padding: 10px 5px;
  }

  .home-category-page .total-videos{margin-right: 3px;}

  .cities-wrapper{
    margin-bottom: 0px;
    padding: 5px 5px 5px 5px
  }

  .inner-cities{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    /* flex-wrap: nowrap; */
    /* flex-direction: column; */
    
    column-gap: 5px;
    row-gap: 10px;
    max-width: 100%;
    width: 100%;

    padding: 2px 2px 2px 2px;

    /* overflow-y: scroll; */
  }

  .bali .inner-cities{
    overflow-y: hidden;
  }

  .home .cities-wrapper{
    padding-bottom: 0px;
    margin: 0px 0px;
  }

  /* .home .d-flex{display: flex;}
  .home .d-none{display: none;} */

  .breadcrumbs-and-videos{
    position: relative;
    line-height: 20px;
  }

  .total-videos {
    text-wrap: nowrap;
    padding-top:3px;
    padding-right: 7px;
  }

  .home .total-videos {
    padding-top: 0px;
    padding-right: 0px;
  }

  .home .categories-wrapper{
    padding-top: 0px;
    padding-right: 0px;
    margin-right: 0px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  .categories-wrapper{
    padding: 0px 0px;
    background: #f1f1f1;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .hp-quick-links, .hp-quick-links .inner-categories{
    background: white;
    flex-wrap: wrap !important;
  }

  .categories-wrapper.hp-quick-links{
    border-top: 0px solid #ccc;
    border-bottom: 0px solid #ccc;
  }

  .categories-wrapper.hp-quick-links a{
    font-size: 19px;
    width: 100%;
    height: 65px;
  }

  .inner-categories{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 5px;
    row-gap: 5px;
    max-width: 100%;
    margin: auto 5px;
    width: 100%;
    padding: 10px 0px;
    background: #f1f1f1;
  }

  .home .inner-categories,
    .home.category-page .inner-categories{
      /* border-left: 4px solid black;
      border-right: 4px solid black; */
      padding: 0px 0px;
  }

  .home .inner-categories, 
  .home-category-page .inner-categories {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 10px;
    row-gap: 10px;
    max-width: 1300px;
    margin: auto;
    padding: 10px 5px;
}

.home .categories-row .inner-categories{
  column-gap: 5px;
}


  .home .hp-quick-links .inner-categories,
  .home-category-page .hp-quick-links .inner-categories{
    padding: 0px 10px;
    /* overflow-y: scroll; */
    height: auto;
    margin-top: 20px;
  }

  .cards-wrapper{
    margin: 0px;
  }

}

hr{
  border-top: 1px solid #eee;
}

/* .home-category-page{
  margin-top: -20px;
} */

.page-back{
  text-align: left;
  font-family: "Nunito Black";
  font-size: 17px;
  background: white;
  width: 100%;
  padding-top: 5px;
}

.page-back svg{
  color: black;
}

.page-back a{
  text-decoration: none;
  color: black;
}




.d-none{display:none;}
.d-block{display: block;}
.d-flex{display: flex;}
.nowrap{flex-wrap: nowrap;}


@media(max-width: 500px){
  .categories-wrapper.hp-quick-links a{
    width: 100%;
  }
}