.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
	font-family: "Edo"; 
	src: local("edo"),
	  url("./assets/fonts/Edo/edo.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), 
  url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Light";
  src: local("Nunito"), 
  url("./assets/fonts/Nunito/static/Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Regular";
  src: local("Nunito"), 
  url("./assets/fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Medium";
  src: local("Nunito"), 
  url("./assets/fonts/Nunito/static/Nunito-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Semi Bold";
  src: local("Nunito"), 
  url("./assets/fonts/Nunito/static/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Bold";
  src: local("Nunito"), 
  url("./assets/fonts/Nunito/static/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Extra Bold";
  src: local("Nunito"), 
  url("./assets/fonts/Nunito/static/Nunito-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Black";
  src: local("Nunito"), 
  url("./assets/fonts/Nunito/static/Nunito-Black.ttf") format("truetype");
}

h1{
  font-family: "Nunito Black";
  margin: .5em 0px;
}

h2{
  font-family: "Nunito Black";
}

.bold{
  font-weight: bold;
}

.d-flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.space-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.col-gap-5{
  column-gap: 5px;
}

.col-gap-10{
  column-gap: 10px;
}

.row-gap-5{
  row-gap: 5px;
}

.cities-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  column-gap: 2px;
  row-gap: 2px;
  /* max-width: 1400px; */
  margin-bottom: 10px;
  width: 100%;
}

.categories-wrapper{
  padding: 20px 0px;
  z-index: 4;
  background: #eee;
  /* border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; */
}

.inner-categories{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
  max-width: 1300px;
  margin: auto;
}

.category-title h2{
  margin: 0px;
}

.category-title{
  position: sticky;
  top: 0px;
  padding: 15px 0px;
  background-color: white;
  z-index: 4;
}

.total-videos{
  font-size: 12px;
  /* margin-top: 10px; */
}

.cards-wrapper{
  display: flex;
  flex-wrap: wrap;
  column-gap: 2px;
  row-gap: 2px;
  margin: 10px 0px 0px 2px;
  margin-bottom: 200px;
}

@media(min-width: 769px){
  .mobile{
    display: none !important;
  }
}

@media(max-width: 768px){
  .desktop{
    display: none !important;
  }

  .cities-wrapper{
    margin-bottom: 2px;
  }

  .total-videos{
    margin-bottom: 10px;
  }
}